.vscode
.DS_Store
'.~'
~./vim/undodir/%Users%sebastian%GoogleDrive%Dev%RMC%RPI_CC%sClient.py
RPI_CC/.textClient.py.swp
.gitignore
RPI_CC/~./vim/undodir/%Users%sebastian%GoogleDrive%Dev%RMC%RPI_CC%socketServer.py
GUI/__pycache__/controlCallbacks.cpython-39.pyc
RPI_CC/~./vim/undodir/%Users%sebastian%GoogleDrive%Dev%RMC%RPI_CC%textClient.py
RPI_CC/lidarTesting.ipynb

GUI/widgets/__pycache__
GUI/__pycache__
GUI/reference/main.py
ROS/catkin_ws/build
ROS/catkin_ws/devel
ROS/catkin_ws/.catkin_workspace
robotpyTest/Pipfile
Pipfile
.gitignore
ROS/catkin_ws/rospy
ROS/catkin_ws/src/rplidar_ros
ROS/catkin_ws/threading
Pipfile.lock
robotpyTest/test.py
venv/
GUI/gearbox/__pycache__/setup.cpython-39.pyc
Modules/ROS/catkin_ws/devel/
Modules/ROS/catkin_ws/logs/
Modules/ROS/catkin_ws/build/
Modules/ROS/catkin_ws/.catkin_tools/
Modules/ROS/catkin_ws/frames.pdf
Modules/ROS/catkin_ws/frames.gv
Modules/RoboRIO/Python/simgui.json
Modules/RoboRIO/Python/simgui-ds.json
Modules/RoboRIO/Python/simgui-window.json
.installer_config
Modules/RoboRIO/Python/src/.deploy_cfg
FinalRun/Driver PC/gearbox/__pycache__/control.cpython-39.pyc
FinalRun/Driver PC/gearbox/__pycache__/setup.cpython-39.pyc
_CC_TODO.textClient
_FinalRun/
_PiRemote
