.vscode
.DS_Store
'.~'
~./vim/undodir/%Users%sebastian%GoogleDrive%Dev%RMC%RPI_CC%sClient.py
RPI_CC/.textClient.py.swp
.gitignore
RPI_CC/~./vim/undodir/%Users%sebastian%GoogleDrive%Dev%RMC%RPI_CC%socketServer.py
GUI/__pycache__/controlCallbacks.cpython-39.pyc
RPI_CC/~./vim/undodir/%Users%sebastian%GoogleDrive%Dev%RMC%RPI_CC%textClient.py
RPI_CC/lidarTesting.ipynb

GUI/widgets/__pycache__
GUI/__pycache__
GUI/reference/main.py