<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <param command="$(find xacro)/xacro $(find rover_sim)/urdf/Sim.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model Sim" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  
</launch>
