<launch>

<rosparam file="$(find rover_sim)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="Sim" args="Rev13_position_controller Rev14_position_controller Rev15_position_controller Rev16_position_controller Rev17_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/Sim/joint_states"/>
</node>

</launch>