<launch>
  <include file="$(find my_simulations)/launch/includes/description.launch.xml">
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="rover"/>
  </node> 
</launch>
