<launch>
    <rosparam file="$(find skid4wd_description)/config/controller.yaml" command="load"/>

    <group ns="/skid4wd">
            
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/skid4wd" args="joint_state_controller drive_controller --shutdown-timeout 3"/>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
            <remap from="/joint_states" to="/skid4wd/joint_states" />
        </node>
        
    </group>
</launch>